.cta-button {
  margin-top: 10px;
  padding: 12px 24px;
  background-color: #cd853f;
  color: #242124;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

.cta-button {
  margin-top: 10px;
  padding: 12px 24px;
  background-color: #cd853f;
  color: #242124;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}
body.light-mode body {
  background-color: #faebd7;
  color: #242124;
}
body.light-mode .navbar {
  background-color: #deb887;
  color: #a65200;
}
body.light-mode .navbar .nav-item {
  color: #a65200;
}
body.light-mode .navbar .nav-item-2 {
  color: #a65200;
  border: 2px solid #cd853f;
  border-radius: 5px;
  padding: 2px 10px;
}
body.light-mode .navbar .nav-item-3 {
  width: 20px;
  border: 2px solid #cd853f;
  border-radius: 80px;
  padding: 5px;
  background-color: #faebd7;
}
body.light-mode .navbar .mode-toggle {
  align-items: center;
  color: #a65200;
}
body.light-mode .navbar .mode-toggle:hover {
  opacity: 0.8;
}
body.light-mode .switch .slider {
  background-color: #cd853f;
}
body.light-mode .nav-item-2 {
  color: #242124;
  border: 2px solid #cd853f;
  border-radius: 5px;
  padding: 2px 10px;
}
body.light-mode .nav-item-3 {
  width: 20px;
  border: 2px solid #cd853f;
  border-radius: 80px;
  padding: 5px;
  background-color: #faebd7;
}
body.light-mode .main-light-mode .quote-overlay {
  color: #a65200;
}
body.light-mode .cta-button {
  margin-top: 10px;
  padding: 12px 24px;
  background-color: #cd853f;
  color: #242124;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
body.dark-mode body {
  background-color: #2f4f4f;
  color: #faebd7;
}
body.dark-mode .navbar {
  background-color: #696969;
  color: #faebd7;
}
body.dark-mode .navbar .nav-item {
  color: #faebd7;
}
body.dark-mode .navbar .nav-item-2 {
  color: #faebd7;
  border: 2px solid #e97451;
  border-radius: 5px;
  padding: 2px 10px;
}
body.dark-mode .navbar .nav-item-3 {
  width: 20px;
  border: 2px solid #e97451;
  border-radius: 80px;
  padding: 5px;
  background-color: #faebd7;
}
body.dark-mode .navbar .mode-toggle {
  align-items: center;
  color: #faebd7;
}
body.dark-mode .navbar .mode-toggle:hover {
  opacity: 0.8;
}
body.dark-mode .switch .slider {
  background-color: #cd853f;
}
body.dark-mode .nav-item-2 {
  color: #faebd7;
  border: 2px solid #e97451;
  border-radius: 5px;
  padding: 2px 10px;
}
body.dark-mode .nav-item-3 {
  width: 20px;
  border: 2px solid #e97451;
  border-radius: 80px;
  padding: 5px;
  background-color: #2f4f4f;
}
body.dark-mode .main-light-mode .quote-overlay {
  color: #faebd7;
}

.navbar {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s;
}
.navbar.light-mode body {
  background-color: #faebd7;
  color: #242124;
}
.navbar.light-mode .navbar {
  background-color: #deb887;
  color: #a65200;
}
.navbar.light-mode .navbar .nav-item {
  color: #a65200;
}
.navbar.light-mode .navbar .nav-item-2 {
  color: #a65200;
  border: 2px solid #cd853f;
  border-radius: 5px;
  padding: 2px 10px;
}
.navbar.light-mode .navbar .nav-item-3 {
  width: 20px;
  border: 2px solid #cd853f;
  border-radius: 80px;
  padding: 5px;
  background-color: #faebd7;
}
.navbar.light-mode .navbar .mode-toggle {
  align-items: center;
  color: #a65200;
}
.navbar.light-mode .navbar .mode-toggle:hover {
  opacity: 0.8;
}
.navbar.light-mode .switch .slider {
  background-color: #cd853f;
}
.navbar.light-mode .nav-item-2 {
  color: #242124;
  border: 2px solid #cd853f;
  border-radius: 5px;
  padding: 2px 10px;
}
.navbar.light-mode .nav-item-3 {
  width: 20px;
  border: 2px solid #cd853f;
  border-radius: 80px;
  padding: 5px;
  background-color: #faebd7;
}
.navbar.light-mode .main-light-mode .quote-overlay {
  color: #a65200;
}
.navbar.light-mode .cta-button {
  margin-top: 10px;
  padding: 12px 24px;
  background-color: #cd853f;
  color: #242124;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
.navbar.dark-mode body {
  background-color: #2f4f4f;
  color: #faebd7;
}
.navbar.dark-mode .navbar {
  background-color: #696969;
  color: #faebd7;
}
.navbar.dark-mode .navbar .nav-item {
  color: #faebd7;
}
.navbar.dark-mode .navbar .nav-item-2 {
  color: #faebd7;
  border: 2px solid #e97451;
  border-radius: 5px;
  padding: 2px 10px;
}
.navbar.dark-mode .navbar .nav-item-3 {
  width: 20px;
  border: 2px solid #e97451;
  border-radius: 80px;
  padding: 5px;
  background-color: #faebd7;
}
.navbar.dark-mode .navbar .mode-toggle {
  align-items: center;
  color: #faebd7;
}
.navbar.dark-mode .navbar .mode-toggle:hover {
  opacity: 0.8;
}
.navbar.dark-mode .switch .slider {
  background-color: #cd853f;
}
.navbar.dark-mode .nav-item-2 {
  color: #faebd7;
  border: 2px solid #e97451;
  border-radius: 5px;
  padding: 2px 10px;
}
.navbar.dark-mode .nav-item-3 {
  width: 20px;
  border: 2px solid #e97451;
  border-radius: 80px;
  padding: 5px;
  background-color: #2f4f4f;
}
.navbar.dark-mode .main-light-mode .quote-overlay {
  color: #faebd7;
}

.nav-left {
  font-family: "Poppins-logo", sans-serif;
  font-size: xx-large;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-right: auto;
}
.nav-left .nav-item {
  margin-left: 1rem;
  margin-right: 2rem;
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-center {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex: 1;
}
.nav-center .nav-item {
  margin-right: 1.5rem;
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: bold;
}

.nav-right {
  display: flex;
  align-items: center;
  font-family: "Inter", sans-serif;
}
.nav-right .mode-toggle {
  display: flex;
  align-items: center;
  padding-right: 1rem;
}
.nav-right .mode-toggle #modeText {
  margin-right: 0.1rem;
}
.nav-right .nav-item {
  margin-right: 0.5rem;
  text-decoration: none;
}
.nav-right .nav-item-2 {
  margin-right: 0.5rem;
  text-decoration: none;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 10px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .slider {
  width: 60px;
  height: 34px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #faebd7;
  border-radius: 34px;
  transition: 0.4s;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
.switch input:checked + .slider {
  background-color: #333333;
}
.switch input:checked + .slider:before {
  transform: translateX(26px);
}
.switch .icon {
  position: absolute;
  top: 4px;
  left: 4px;
  height: 26px;
  width: 26px;
  background-color: white;
  border-radius: 50%;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.switch .sun {
  background-color: #FFD966;
  background-image: url("/assets/icons/sun-solid.svg");
  background-size: cover;
}
.switch .moon {
  background-color: #5D8AA8;
  background-image: url("/assets/icons/moon-solid.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 26px;
  width: 26px;
}
.switch input:checked + .slider .icon {
  transform: translateX(26px);
  background-color: #5D8AA8;
}
.switch input:checked + .slider .icon.sun {
  background-image: url("/assets/icons/moon-solid.svg");
}

@font-face {
  font-family: "Poppins-logo";
  src: url("/assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  src: url("/assets/fonts/Lato/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter/Inter_28pt-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Lora-italic-para";
  src: url("/assets/fonts/Lora/Lora-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Lora-italic-captions";
  src: url("/assets/fonts/Lora/Lora-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto Mono Numbers";
  src: url("/assets/fonts/Roboto_Mono/RobotoMono-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito-footer";
  src: url("/fonts/Nunito-Regular.ttf") format("truetype");
}
.cta-button {
  margin-top: 10px;
  padding: 12px 24px;
  background-color: #cd853f;
  color: #242124;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

body {
  margin: 0;
  padding: 0;
  transition: background-color 0.3s, color 0.3s;
}
body.light-mode body {
  background-color: #faebd7;
  color: #242124;
}
body.light-mode .navbar {
  background-color: #deb887;
  color: #a65200;
}
body.light-mode .navbar .nav-item {
  color: #a65200;
}
body.light-mode .navbar .nav-item-2 {
  color: #a65200;
  border: 2px solid #cd853f;
  border-radius: 5px;
  padding: 2px 10px;
}
body.light-mode .navbar .nav-item-3 {
  width: 20px;
  border: 2px solid #cd853f;
  border-radius: 80px;
  padding: 5px;
  background-color: #faebd7;
}
body.light-mode .navbar .mode-toggle {
  align-items: center;
  color: #a65200;
}
body.light-mode .navbar .mode-toggle:hover {
  opacity: 0.8;
}
body.light-mode .switch .slider {
  background-color: #cd853f;
}
body.light-mode .nav-item-2 {
  color: #242124;
  border: 2px solid #cd853f;
  border-radius: 5px;
  padding: 2px 10px;
}
body.light-mode .nav-item-3 {
  width: 20px;
  border: 2px solid #cd853f;
  border-radius: 80px;
  padding: 5px;
  background-color: #faebd7;
}
body.light-mode .main-light-mode .quote-overlay {
  color: #a65200;
}
body.light-mode .cta-button {
  margin-top: 10px;
  padding: 12px 24px;
  background-color: #cd853f;
  color: #242124;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
body.dark-mode body {
  background-color: #2f4f4f;
  color: #faebd7;
}
body.dark-mode .navbar {
  background-color: #696969;
  color: #faebd7;
}
body.dark-mode .navbar .nav-item {
  color: #faebd7;
}
body.dark-mode .navbar .nav-item-2 {
  color: #faebd7;
  border: 2px solid #e97451;
  border-radius: 5px;
  padding: 2px 10px;
}
body.dark-mode .navbar .nav-item-3 {
  width: 20px;
  border: 2px solid #e97451;
  border-radius: 80px;
  padding: 5px;
  background-color: #faebd7;
}
body.dark-mode .navbar .mode-toggle {
  align-items: center;
  color: #faebd7;
}
body.dark-mode .navbar .mode-toggle:hover {
  opacity: 0.8;
}
body.dark-mode .switch .slider {
  background-color: #cd853f;
}
body.dark-mode .nav-item-2 {
  color: #faebd7;
  border: 2px solid #e97451;
  border-radius: 5px;
  padding: 2px 10px;
}
body.dark-mode .nav-item-3 {
  width: 20px;
  border: 2px solid #e97451;
  border-radius: 80px;
  padding: 5px;
  background-color: #2f4f4f;
}
body.dark-mode .main-light-mode .quote-overlay {
  color: #faebd7;
}

.slider {
  position: relative;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
}
.slider .slides img {
  width: 100vw;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  transition: opacity 1s ease-in-out;
}
.slider .quote-overlay {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.slider .quote-overlay .quote {
  font-size: 2rem;
  margin: 0;
}
.slider .quote-overlay .cta-button {
  margin-top: 10px;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
.slider .dots {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 10px;
}
.slider .dots .dot {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.5;
  cursor: pointer;
}
.slider .dots .dot.active {
  opacity: 1;
}/*# sourceMappingURL=main.css.map */