// _variables.scss

// Light Mode Colors
$background-light: #faebd7; //Antique White
$text-body-light: #242124;  //Raisin Black
$navbar-light: #deb887;     //Burly Wood    
$button-light: #cd853f;     //Peru
$search-border-light: #cd853f;  // Peru

// Dark Mode Colors
$background-dark: #2f4f4f;  //Dark slate gray
$text-body-dark: #faebd7;   //Antique White
$navbar-dark: #696969;      //Dim Gray
$button-dark: #e97451;      //Burnt Sienna
$search-border-dark: #cd853f;   //Peru
